.vscode/*
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
src/MainTesting.java
*.txt
*.xml
*.class
out/production/cs180project5/Message.class
